<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 1. Package sources – only your mirror -->
  <packageSources>
    <clear />
    <add key="megan" value="https://hub.megan.ir/nuget/index.json" />
    <!-- <add key="Chabokan" value="https://mirror2.chabokan.net/nuget/v3/index.json" /> -->
  </packageSources>

  <!-- 2. Disable all other package sources -->
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>

  <!-- 3. Signature validation -->
  <signatureValidationMode>require</signatureValidationMode>
  <trustedSigners>
    <author name="Microsoft">
      <certificate
        fingerprint="1F4B311D9ACC115C8DC8018B5A49E00FCE6DA8E2855F9F014CA6F34570BC482D"
        hashAlgorithm="SHA256"
        allowUntrustedRoot="false" />
    </author>
  </trustedSigners>
</configuration>
